@page "/EditFilm/{FilmID:int}"
@inject HttpClient Http
@inject NavigationManager uriHelper
@inject IJSRuntime js
@using BlazorWebAbV1._0.Shared


<h3>Edit Film</h3>

<FilmForm ButtonText="Update" FilmProcess="filmToEdit"
          OnValidSubmit="@DoEditFilm" />

@code {
    [Parameter] public int FilmID { get; set; }
    Film filmToEdit = new Film();

    protected async override Task OnParametersSetAsync()
    {
        filmToEdit = await Http.GetFromJsonAsync<Film>($"Films/ApiFilmDetails/{FilmID}");
    }

    async Task DoEditFilm()
    {
        await Http.PutAsJsonAsync("/Films/ApiEditFilm", filmToEdit);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("FilmData");

    }
}